---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: reschedule-sa
  namespace: default

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: reschedule-role
rules:
  - apiGroups: [""]
    resources: ["nodes", "pods"]
    verbs: ["get", "list"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: reschedule-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: reschedule-role
subjects:
  - kind: ServiceAccount
    name: reschedule-sa
    namespace: default

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: reschedule
  namespace: default
spec:
  schedule: "*/10 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 5
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: reschedule-sa
          restartPolicy: Never
          containers:
            - name: app
              image: cloudpublic/default/reschedule:latest
              imagePullPolicy: Always
