# nippon backup: manifests/traefik-config.yaml
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    globalArguments:
      - "--serversTransport.insecureSkipVerify=true"
      - "--entrypoints.web.forwardedHeaders.insecure=true"
      - "--entrypoints.websecure.forwardedHeaders.insecure=true"
    additionalArguments:

    providers:
      kubernetesCRD:
        allowCrossNamespace: true
        allowExternalNameServices: true

    ports:
      web:
        port: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
        middlewares:
          - default-noindex@kubernetescrd
      websecure:
        port: 443
        middlewares:
          - default-noindex@kubernetescrd
      traefik:
        port: 9000
        expose:
          default: true
      tcpep:
        port: 7030
        protocol: TCP
        exposedPort: 37030
      udpep:
        port: 7070
        protocol: UDP
        exposedPort: 37070

    logs:
      general:
        level: ERROR
      access:
        enabled: true
        format: json
        fields:
          general:
            defaultMode: keep
            names:
              ClientHost: keep
              ClientIP: keep
              ClientUsername: keep
              DownstreamStatus: keep
              Duration: keep
              Host: keep
              OriginStatus: keep
              OriginDuration: keep
              RequestMethod: keep
              RequestPath: keep
              RequestProtocol: keep
              RouterName: keep
              ServiceName: keep
              StartUTC: keep
              UserAgent: keep
          headers:
            names:
              CF-Connecting-IP: keep
              CF-IPCountry: keep
              CF-Real-IP: keep
              CF-Request-ID: keep
              CF-Visitor: keep
              X-Forwarded-For: keep
              X-Forwarded-Host: keep
              X-Forwarded-Proto: keep
              X-Real-IP: keep
              X-Request-ID: keep

    service:
      spec:
        externalTrafficPolicy: Local

    ingressRoute:
      dashboard:
        enabled: true

    extraObjects:
      - kind: Middleware
        apiVersion: traefik.io/v1alpha1
        metadata:
          namespace: default
          name: noindex
        spec:
          headers:
            customResponseHeaders:
              X-Robots-Tag: noindex

    deployment:
      kind: Deployment
      replicas: 3
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: traefik-node
                operator: In
                values: ["true"]
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values: ["traefik"]
          topologyKey: "kubernetes.io/hostname"
