REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
INDEX_NAME=notes
EMBEDDING_MODEL=bge-m3
LLM_MODEL=ollama-local
OLLAMA_API_BASE=http://ollama/v1
LITELLM_API_BASE=http://litellm
LITELLM_API_KEY=any-key
NOTES_PATH=/mnt/notebook
