---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: common
  namespace: middleware
  labels:
    app.kubernetes.io/name: common
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: common
  template:
    metadata:
      labels:
        app.kubernetes.io/name: common
    spec:
      containers:
        - name: app
          image: cloudprivate/middleware/common:latest
          imagePullPolicy: Always
          ports:
            - name: default
              containerPort: 8080
          env:
            - name: IP_FILTER1_FILE
              value: /root/ip_filter1_file.txt
            - name: IP_FILTER1_TEXT
              value: "__{{koishi.middleware.infos:f:ip-filter1-text}}__"
            - name: KV_FILTER1_KEY
              value: "__{{koishi.middleware.infos:f:kv-filter1-key}}__"
            - name: KV_FILTER1_VALUE
              value: "__{{koishi.middleware.infos:f:kv-filter1-value}}__"
          resources:
            requests:
              cpu: 50m
              memory: 64Mi

---
apiVersion: v1
kind: Service
metadata:
  name: common
  namespace: middleware
  labels:
    app.kubernetes.io/name: common
  annotations:
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: common
  ports:
    - name: default
      port: 80
      protocol: TCP
      targetPort: default

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: antimitm
  namespace: middleware
spec:
  forwardAuth:
    address: http://common.middleware.svc.cluster.local/ipfilter1
    trustForwardHeader: true

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: playonjan
  namespace: middleware
spec:
  forwardAuth:
    address: http://common.middleware.svc.cluster.local/kvfilter1
    trustForwardHeader: true
