---
services:
  tunnel-ssh:
    image: __{{umbilical.deploy.cloudpublic_registry_host}}__/umbilical/tunnel:latest
    environment:
      TZ: "__{{umbilical.deploy.timezone}}__"
    volumes:
      - ./tunnel-ssh/ssh:/tmp/ssh
      - ./tunnel-ssh/entrypoint.sh:/entrypoint.sh
    command: ["sh", "/entrypoint.sh"]
    restart: always

  shutdown:
    image: __{{umbilical.deploy.cloudpublic_registry_host}}__/umbilical/shutdown:latest
    privileged: true
    network_mode: host # exposed port 37901
    environment:
      TZ: "__{{umbilical.deploy.timezone}}__"
      TERM: "xterm-256color"
      GOTTY_PORT: "37901"
      GOTTY_WS_ORIGIN: ".*"
    volumes:
      - /bin/systemctl:/bin/systemctl
      - /run/systemd/system:/run/systemd/system
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket
      - /sys/fs/cgroup:/sys/fs/cgroup
    restart: unless-stopped
